<h1>Treatments#index</h1>
<p>Find me in app/views/treatments/index.html.erb</p>
<ul>
  <% @treatments.each do |treatment| %>
    <li><%= treatment.name %><%= treatment.category %><%= treatment.description %></li>
  <% end %>
</ul>
