<div class="container">
  <%= simple_form_for [@treatment, @appointment] do |f| %>
  <%= f.input :comment, label: "Tell us about your pains and we will come back to you!"%>
  <%= f.submit %>
<% end %>
</div>
